.cb-container {
  width: 100%; /* 카드의 너비를 100%로 설정 */
  height: auto; /* 카드의 높이 설정 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
  border-radius: 15px; /* 모서리를 둥글게 설정 */
  padding: 50px; /* 카드 간의 간격 추가 */
  display: flex; /* 플렉스 박스 사용 */
  background-color: transparent; /* 카드 배경을 투명하게 설정 */
  border: none; /* 카드의 기본 테두리 없애기 */
}

.cb-image-container {
  flex: 0 0 50%; /* 이미지 영역 너비를 50%로 설정 */
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  height: auto; /* 고정된 높이 설정 */
}

.cb-image {
  width: 80%; /* 이미지 너비를 100%로 설정 */
  height: 100%; /* 이미지 높이를 100%로 설정 */
  object-fit: cover; /* 비율 유지하며 잘리도록 설정 */
}

.cb-text-container {
  flex: 0 0 50%; /* 텍스트 영역 너비를 50%로 설정 */
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
  padding: 20px; /* 패딩 추가 */
  padding-left: 20px; /* 이미지와 간격 추가 */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
  font-weight: bold;
  text-align: left; /* 텍스트를 왼쪽 정렬 */
}

.custom-title {
  margin-bottom: 30px;
  font-weight: bold;
}