footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 70px;
}

.custom-left {
  text-align: left;
}

.custom-right {
  text-align: right;
}

ul {
  list-style-type: none; 
  padding-left: 0; 
}

.custom-flex {
  display: flex; 
  justify-content: flex-end; 
  padding-left: 0; 
  list-style-type: none; 
}

.custom-flex li {
  margin-right: 15px; 
}

.custom-flex li:last-child {
  margin-right: 0; 
}