.logo {
  width: 40px; 
  height: auto;
  margin-left: 15rem;
  border-radius: 15px;
}

.navbar-nav .nav-link {
  color: white !important; 
  font-weight: bold; 
  font-size: 18px; 
}

.navbar {
  padding: 10px; 
}

.custom-margin {
  margin-right: 15rem;
}

.custom-navbar {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  background-color: #262626;
}