.image-slider {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  width: calc(200px * 2 * tool_images.length);
  animation: slide 10s linear infinite;
}

.image-container {
  margin-right: 20px;
}

.slide-image {
  width: 200px;
  height: 110px;
  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
