.App {
  text-align: center;
  background-color: #262626;
  min-height: 100vh;
  color: white;
  position: relative;
}

.header-line {
  padding-top: 94px;
  background-color: #262626;  
}

.front-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
  transition: background-image 0.5s ease-in-out;
}

.image-text {
  text-align: left;
  padding-left: 15vh;
}

.image-text .font-style {
  font-size: 50px;
  font-weight: bold;
}

.sub-title {
  margin-top: 150px;
  margin-bottom: 50px;
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

.App {
  overflow-y: auto;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.scroll {
  color: white;
  font-family: 'Nanum Gothic';
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(239, 242, 247, 0.1);
  border-radius: 10px;
  border: 2px solid #1f2845;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #1f2845;
}

.image-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-billcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
